mule-migration-tool-tests/src/test/resources/e2e/http3Mvn/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="httpConf" host="localhost" port="${httpPort}"/>

    <http:request-config name="requesterConfig" protocol="HTTPS" host="httpbin.org" port="443"/>

    <flow name="listenerContentType" >
        <http:listener config-ref="httpConf" path="testInput"/>

        <copy-properties propertyName="*" />
        <remove-property propertyName="http.*" />
        <copy-attachments attachmentName="*" />

        <set-property propertyName="X-Forwarded-For" value="#[message.inboundProperties['http.remote.address']]" />
        
        <http:request config-ref="requesterConfig" path="/get" method="GET"/>

        <copy-properties propertyName="*" />
        <remove-property propertyName="http.*" />
        <copy-attachments attachmentName="*" />
    </flow>
    
</mule>
