mule-migration-tool-library/src/test/resources/mule/apps/filters/filter-02.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <flow name="flow">
        <idempotent-message-validator/>
        <error-handler>
            <on-error-propagate type="DUPLICATE_MESSAGE" logException="false">
                <set-variable variableName="filtered" value="#[true]"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    
</mule>