src/test/resources/mule/examples/core/setProperty.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="testFlow">
        <set-property propertyName="#[2]" value="#[2]" encoding="ISO-8859-6" mimeType="text/css" doc:name="Property"/>
    </flow>
</mule>

