mule-migration-tool-library/src/test/resources/mule/apps/http/http-outbound-05-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:endpoint name="clientEndpoint" address="http://localhost:#[header:port]/#[header:path]" exchange-pattern="request-response"/>

    <flow name="flow">
        <!-- Set outboundProperties: port and path -->
        <http:outbound-endpoint ref="clientEndpoint" />
    </flow>

</mule>
