mule-migration-tool-library/src/test/resources/mule/apps/http/http-listener-10.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" />
    </http:listener-config>
    
    <flow name="testFlow">
        <http:listener config-ref="listenerConfig" path="${path}">
            <http:response reasonPhrase="everything works!">
                <http:headers>
                    #[mel:vars.compatibility_outboundProperties]
                </http:headers>
            </http:response>
            <http:error-response>
                <http:headers>
                    #[mel:vars.compatibility_outboundProperties]
                </http:headers>
            </http:error-response>
        </http:listener>
        <set-property propertyName="http.status" value="202" />
        <set-property propertyName="http.reason" value="override value" />
<!--         <compatibility:set-property propertyName="http.status" value="202" /> -->
<!--         <compatibility:set-property propertyName="http.reason" value="override value" /> -->
<!--         <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/> -->
    </flow>
</mule>