mule-migration-tool-library/src/test/resources/mule/apps/http/http-outbound-26.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <http:request-config name="flowRequestConfig9">
        <http:request-connection host="remotehost" port="${httpPort1}" />
    </http:request-config>

    <http:request-config name="flowRequestConfig5">
        <http:request-connection host="localhost" port="${httpPort2}" />
    </http:request-config>

    <http:request-config name="flowRequestConfig">
        <http:request-connection host="localhost" port="${httpPort1}" />
    </http:request-config>

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="flowRequestConfig" path="/backend" method="#[vars.method]" sendBodyMode="#[if (vars.method == 'DELETE') 'NEVER' else 'AUTO']">
            <http:headers>
                #[migration::HttpRequester::httpRequesterTransportHeaders(vars)]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="flowRequestConfig5" path="/backend" method="#[vars.method]" sendBodyMode="#[if (vars.method == 'DELETE') 'NEVER' else 'AUTO']">
            <http:headers>
                #[migration::HttpRequester::httpRequesterTransportHeaders(vars)]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="flowRequestConfig9" path="/backend" method="#[vars.method]" sendBodyMode="#[if (vars.method == 'DELETE') 'NEVER' else 'AUTO']">
            <http:headers>
                #[migration::HttpRequester::httpRequesterTransportHeaders(vars)]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
</mule>