mule-migration-tool-library/src/test/resources/mule/apps/http/http-requester-09.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

  <http:request-config name="config">
    <http:request-connection host="localhost" port="${httpPort}" />
  </http:request-config>

    <flow name="queryParamList">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="testPath" method="POST">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i))]
            </http:headers>
            <http:query-params>
                #[{'testName1' : 'testValue1'} ++ {mel:paramName : mel:paramValue}]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="queryParamMap">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i))]
            </http:headers>
            <http:query-params>
                #[mel:params]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="multipleQueryParam">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i))]
            </http:headers>
            <http:query-params>
                #[{'testName1' : 'testValue1'} ++ mel:params]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="multipleQueryParamFromListener">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="/multipleQueryParamFromListener" method="GET">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i))]
            </http:headers>
            <http:query-params>
                #[mel:message.inboundProperties['http.query.params']]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="queryParamNulls">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i))]
            </http:headers>
            <http:query-params>
                #[mel:{'testName1':null, 'testName2': [null]}]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

</mule>