mule-migration-tool-library/src/test/resources/mule/apps/http/http-listener-20-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig" host="localhost" port="${port}"/>
    
    <flow name="testFlow">
        <http:listener config-ref="listenerConfig" path="${path}">
            <http:error-response-builder statusCode="200" reasonPhrase="OK">
                <http:headers expression="['user-agent': 'Mule 3.8.0']"/>
                <http:header headerName="Date" value="#[server.dateTime]"/>
            </http:error-response-builder>
        </http:listener>
        <logger/>
    </flow>
</mule>