mule-migration-tool-library/src/test/resources/mule/apps/http/http-requester-04.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

  <http:request-config name="requestConfig">
    <http:request-connection host="localhost" port="${httpPort}" />
  </http:request-config>

    <flow name="testFlow">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="requestConfig" path="testPath">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i)) ++ {'testHeader1' : 'headerValue1'} ++ {'testHeader2' : 'headerValue2'}]
            </http:headers>
            <http:query-params>
                #[{'queryParam1' : 'testValue1'} ++ {'queryParam2' : 'testValue2'} ++ {'queryParam2' : 'newTestValue2'} ++ {'queryParam3' : 'testValue3'}]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="headerOverride">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[vars.compatibility_outboundProperties filterObject ((value,key) -> not ((key as String) matches /http\..*|Connection|Host|Transfer-Encoding/i)) ++ {'testName1' : 'testValue1'} ++ headers ++ {'testName1' : 'testValue2'}]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
</mule>