mule-migration-tool-library/src/test/resources/mule/apps/http/http-requester-09.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

  <http:request-config name="config">
    <http:request-connection host="localhost" port="${httpPort}" />
  </http:request-config>

    <flow name="queryParamList">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="config" path="testPath" method="POST">
            <http:headers>
                #[migration::HttpRequesterHeaders::httpRequesterHeaders(vars)]
            </http:headers>
            <http:query-params>
                #[{'testName1' : 'testValue1'} ++ {paramName : paramValue}]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="queryParamMap">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[migration::HttpRequesterHeaders::httpRequesterHeaders(vars)]
            </http:headers>
            <http:query-params>
                #[params]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="multipleQueryParam">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[migration::HttpRequesterHeaders::httpRequesterHeaders(vars)]
            </http:headers>
            <http:query-params>
                #[{'testName1' : 'testValue1'} ++ params]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="multipleQueryParamFromListener">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="config" path="/multipleQueryParamFromListener" method="GET">
            <http:headers>
                #[migration::HttpRequesterHeaders::httpRequesterHeaders(vars)]
            </http:headers>
            <http:query-params>
                #[vars.compatibility_inboundProperties["http.query.params"]]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="queryParamNulls">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[migration::HttpRequesterHeaders::httpRequesterHeaders(vars)]
            </http:headers>
            <http:query-params>
                #[{ "testName1": null, "testName2": [ null ] }]
            </http:query-params>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

</mule>