mule-migration-tool-library/src/test/resources/mule/apps/http/http-listener-18.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" />
    </http:listener-config>
    
    <flow name="testFlow">
        <http:listener config-ref="listenerConfig" path="${path}">
            <http:response>
                <http:headers>
                    #[{'User-Agent' : 'Mule 3.6.0'} ++ {'Date' : mel:server.dateTime} ++ {'User-Agent2' : 'Mule 3.8.0'} ++ {'User-Agent3' : 'Mule 3.7.0'} ++ mel:flowVars.compatibility_outboundProperties]
                </http:headers>
            </http:response>
            <http:error-response>
                <http:headers>
                    #[mel:flowVars.compatibility_outboundProperties]
                </http:headers>
            </http:error-response>
        </http:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
    </flow>
</mule>