mule-migration-tool-library/src/test/resources/mule/apps/http/http-requester-12.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

  <http:request-config name="config">
    <http:request-connection host="localhost" port="${httpPort}" />
  </http:request-config>

    <flow name="payloadSourceFlow">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="test" method="POST"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="customSourceFlow">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="test" method="POST">
            <http:body>#[mel:customSource]</http:body>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
    <flow name="payloadTargetFlow">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="test" method="POST" target="#[mel:payload]"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
    <flow name="customTargetFlow">
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
        <http:request config-ref="config" path="test" method="POST" target="#[mel:header:OUTBOUND:customTarget]"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
</mule>