mule-migration-tool-library/src/test/resources/mule/apps/http/http-inbound-14.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <http:listener-config name="flowListenerConfig">
        <http:listener-connection host="localhost" port="${port1}"/>
    </http:listener-config>

    <flow name="flow">
        <http:listener config-ref="flowListenerConfig" path="/resources/allExpressions/*">
            <http:response statusCode="#[header:inbound:status]">
                <http:headers>
                    #[{'Location' : 'http://localhost:9090'} ++ {'Expires' : 'Thu, 01 Dec 2014 16:00:00 GMT'} ++ {'Cache-Control' : 'max-age=$(vars.compatibility_inboundProperties['cacheControl'])'} ++ {'Set-Cookie' : '$(vars.compatibility_inboundProperties['cookie1'])=$(vars.compatibility_inboundProperties['value1']); Domain=$(vars.compatibility_inboundProperties['domain']); Path=$(vars.compatibility_inboundProperties['path']); Expires=$(vars.compatibility_inboundProperties['expires']); Secure(?)'} ++ {'Set-Cookie' : '$(vars.compatibility_inboundProperties['cookie2'])=$(vars.compatibility_inboundProperties['value2']); Max-Age=$(vars.compatibility_inboundProperties['maxAge'])'} ++ {'header1' : 'value1'} ++ {'header2' : 'value2'} ++ {'Content-Type' : 'text/html'}]
                </http:headers>
            </http:response>
        </http:listener>
        <choice>
          <when expression="#[message.attributes.headers['Transfer-Encoding'] == null and (message.attributes.headers['Content-Length'] as Number default 0) == 0]">
            <set-payload value="#[message.attributes.requestUri]"/>
          </when>
        </choice>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var/>
    </flow>
</mule>