mule-migration-tool-library/src/test/resources/mule/apps/http/http-inbound-02.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <http:listener-config name="inEchoServiceListenerConfig">
        <http:listener-connection host="localhost" port="${port1}" usePersistentConnections="true"/>
    </http:listener-config>
    
    <flow name="flow">
        <http:listener config-ref="inEchoServiceListenerConfig" path="services/Echo/*">
          <http:response statusCode="#[migration::HttpListener::httpListenerResponseSuccessStatusCode(vars)]">
            <http:headers>#[migration::HttpListener::httpListenerResponseHeaders(vars)]</http:headers>
          </http:response>
          <http:error-response statusCode="#[migration::HttpListener::httpListenerResponseErrorStatusCode(vars)]">
            <http:headers>#[migration::HttpListener::httpListenerResponseHeaders(vars)]</http:headers>
          </http:error-response>
        </http:listener>

        <choice>
          <when expression="#[(message.attributes.headers['Content-Length'] as Number default 0) == 0]">
            <set-payload value="#[message.attributes.requestUri]"/>
          </when>
        </choice>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var/>
    </flow>
</mule>