mule-migration-tool-library/src/test/resources/mule/apps/http/http-outbound-07.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <http:request-config name="clientEndpoint2RequestConfig">
        <http:request-connection host="localhost" port="${port1}"/>
    </http:request-config>

    <http:request-config name="clientEndpoint1RequestConfig">
        <http:request-connection host="localhost" port="${port1}"/>
    </http:request-config>

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="clientEndpoint1RequestConfig" method="#[migration::HttpRequester::httpRequesterMethod(vars)]" path="test1/?foo=boo&amp;far=bar" sendBodyMode="#[if (migration::HttpRequester::httpRequesterMethod(vars) == 'DELETE') 'NEVER' else 'AUTO']">
            <http:headers>
                #[migration::HttpRequester::httpRequesterTransportHeaders(vars)]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
        <compatibility:outbound-properties-to-var/>
        <http:request config-ref="clientEndpoint2RequestConfig" method="#[migration::HttpRequester::httpRequesterMethod(vars)]" path="test1/?foo=#[header:foo]&amp;far=#[header:far]" sendBodyMode="#[if (migration::HttpRequester::httpRequesterMethod(vars) == 'DELETE') 'NEVER' else 'AUTO']">
            <http:headers>
                #[migration::HttpRequester::httpRequesterTransportHeaders(vars)]
            </http:headers>
        </http:request>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
</mule>