mule-migration-tool-library/src/test/resources/mule/apps/http/http-inbound-37.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <http:request-config name="PollingHttpConnectorConfig">
        <http:request-connection host="localhost" port="${port1}"/>
    </http:request-config>

    <flow name="flow">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </scheduler>
        <http:request config-ref="PollingHttpConnectorConfig" path="/TestServer"/>
        <compatibility:attributes-to-inbound-properties/>
        <validation:is-true expression="#[(message.attributes.headers['Content-Length'] as Number default -1) != 0]"/>
        <logger/>
    </flow>
</mule>