mule-migration-tool-library/src/test/resources/mule/apps/os/object-store-05-original.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">

    <flow name="objStore6">
        <objectstore:store config-ref="OS_Config" key="#['pepe']" value-ref="#[payload]"/>
    </flow>

    <flow name="objStore7">
        <objectstore:store config-ref="OS_Config" key="#['pepe2']" value-ref="#[payload]" overwrite="true"/>
    </flow>
</mule>
