mule-migration-tool-library/src/test/resources/mule/apps/requestReply/request-reply-08.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <flow name="flow">
        <http:outbound-endpoint path="requestHttp" host="localhost" port="${http.port}"/>
    </flow>

    <flow name="flow_reply">
        <vm:inbound-endpoint path="reply">
            <logger level="ERROR" message="Got to inbound endpoint: #[payload]"/>
        </vm:inbound-endpoint>
        <logger/>
    </flow>
</mule>