mule-migration-tool-e2e-tests/src/test/resources/e2e/async/async2/output/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="async">
        <async>
            <!--Migration INFO: In Mule 4, Async processing strategies are no longer needed with the non-blocking execution engine.-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-core-->
            <logger message="#[1]" />
            <logger message="#[2]" />
            <logger message="#[3]" />
        </async>

    </flow>

</mule>
