mule-migration-tool-library/src/test/resources/mule/apps/poll/poll-watermark-10-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="lastSelectorWithList">
        <poll>
            <watermark variable="lastSelectorWithList" default-expression="#[payload]" selector="FIRST" selector-expression="#[payload.test]" />
            <logger level="INFO" message="Executed inside poll"/>
        </poll>
    </flow>

</mule>
