mule-migration-tool-library/src/test/resources/mule/apps/vm/vm-inbound-06.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
    xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="vm2">
        <vm:queues>
            <vm:queue queueName="in2" queueType="TRANSIENT" />
        </vm:queues>
    </vm:config>

    <vm:config name="vm1">
        <vm:queues>
            <vm:queue queueName="in" queueType="TRANSIENT" />
        </vm:queues>
    </vm:config>

    <flow name="flow">
        <vm:listener config-ref="vm1" queueName="in">
            <vm:response>
                <vm:content>#[output application/java --- {'_vmTransportMode': true, 'payload': payload.^raw, 'mimeType': payload.^mimeType, 'session': vars.compatibility_outboundProperties['MULE_SESSION']}]</vm:content>
            </vm:response>
        </vm:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var consumeStreams="true"/>
    </flow>

    <flow name="flow2">
        <vm:listener config-ref="vm2" queueName="in2">
            <vm:response>
                <vm:content>#[output application/java --- {'_vmTransportMode': true, 'payload': payload.^raw, 'mimeType': payload.^mimeType, 'session': vars.compatibility_outboundProperties['MULE_SESSION']}]</vm:content>
            </vm:response>
        </vm:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var consumeStreams="true"/>
    </flow>

</mule>
