mule-migration-tool-api/src/test/resources/mule/examples/core/removeObjectToStringTransformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="testFlow">
        <set-payload doc:name="Set Payload" value="#[2]"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>




