mule-migration-tool-library/src/test/resources/mule/examples/core/namespaces/unused-namespace.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
               http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">
    <flow name="testFlow">
        <set-payload doc:name="Set Payload" value="#[2]"/>
    </flow>
</mule>
