mule-migration-tool-library/src/test/resources/mule/apps/core/error-handling-01.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="matchesCorrectExceptionStrategyUsingExceptionType">
        <logger/>
        <error-handler>
            <on-error-continue when="#[Java::isCausedBy(error.cause, 'java.lang.IllegalArgumentException', false)]">
                <logger message="#['IlegalArgument']" />
            </on-error-continue>
            <on-error-continue when="#[Java::isCausedBy(error.cause, 'java.lang.IllegalStateException', false)]">
                <logger message="#['IlegalState']" />
            </on-error-continue>
        </error-handler>
    </flow>

</mule>

