mule-migration-tool-library/src/test/resources/mule/apps/core/outbound-properties-01.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <flow name="testFlow">
        <compatibility:set-property propertyName="http.status" value="202" />
        <compatibility:set-property propertyName="http.reason" value="override value" />
        <set-variable variableName="compatibility_outboundProperties" value="#[mel:message.outboundProperties]"/>
    </flow>
</mule>