mule-migration-tool-library/src/test/resources/mule/apps/core/until-successful-01-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="untilFlow">
        <until-successful>
            <processor-chain>
                <logger message="#[1]"/>
                <logger message="#[2]"/>
            </processor-chain>
        </until-successful>
    </flow>
</mule>
