mule-migration-tool-library/src/test/resources/mule/apps/studio/metadata-01-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="flow">
        <set-payload value="#[flowVars.report]" doc:name="Set Payload" metadata:id="828e21ff-9e8c-4c97-a9ad-f95c7b979726"/>
    </flow>

</mule>
