mule-migration-tool-library/src/test/resources/mule/apps/ftp/ftp-inbound-11.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
       http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <ftp:config name="ftpConnectorWithPatternAndMove">
        <ftp:connection username="anonymous" password="password" host="localhost" port="${port1}"/>
    </ftp:config>

    <flow name="flow">
        <ftp:listener config-ref="ftpConnectorWithPatternAndMove" directory="/"
                      moveToDirectory="/done/"
                      renameTo="#[&quot;$(vars.compatibility_inboundProperties.originalFilename).done&quot;]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var/>
    </flow>
</mule>