mule-migration-tool-library/src/test/resources/mule/apps/file/file-outbound-02-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <file:connector name="fileConnector" fileAge="500"
        autoDelete="false" moveToDirectory="${workingDirectory}/done" streaming="true"
        pollingFrequency="100" workDirectory="${workingDirectory}/work"
        workFileNamePattern="#[function:uuid].#[function:systime].#[header:inbound:originalFilename]">
    </file:connector>

    <file:endpoint path="${workingDirectory}/out" name="put"
        connector-ref="fileConnector" />


    <flow name="relay">
        <logger/>
        <file:outbound-endpoint ref="put" />
    </flow>

</mule>