mule-migration-tool-library/src/test/resources/mule/apps/file/file-inbound-11.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <file:config name="FileConnector">
        <file:connection workingDir=".">
            <reconnection failsDeployment="true"/>
        </file:connection>
    </file:config>

<!-- TODO MULE-14947  Correctly migrate this expression  -->
<!--     <file:matcher name="fileConnectorMatcher" updatedUntil="#[currentDate - 1000]"/> -->
    <file:matcher name="FileConnector-TestMatcher" updatedUntil="1000"/>

<!-- TODO migrate string interpolation to concatenation -->
    <flow name="Test">
        <file:listener directory="${FileMoveToFunctionalTestCase-inputDirectory}"
                       moveToDirectory="${FileMoveToFunctionalTestCase-moveToDirectory}"
                       renameTo="#[mel:message.inboundProperties.originalFilename]_#[message.id]"
                       recursive="false"
                       config-ref="FileConnector" matcher="FileConnector-TestMatcher">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var/>
    </flow>
    
</mule>