mule-migration-tool-library/src/test/resources/mule/apps/file/file-outbound-02.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <file:config name="fileConnector">
        <file:connection>
            <reconnection failsDeployment="true"/>
        </file:connection>
    </file:config>

    <file:matcher name="fileConnectorMatcher" updatedUntil="500"/>
    
    <flow name="relay">
        <logger/>
        <compatibility:outbound-properties-to-var/>
        <file:write config-ref="fileConnector" path="#[migration::FileWriteOutputFile::fileWriteOutputfile(vars, { writeToDirectory: null, address: null, outputPattern: null, outputPatternConfig: null})]"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
    
</mule>