mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-createWithoutHeaders.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="salesforce-8.xFlow">
        <salesforce:create doc:name="Salesforce" config-ref="Salesforce_Config" type="Account">
            <salesforce:records><![CDATA[#[payload]]]></salesforce:records>
        </salesforce:create>

    </flow>

</mule>
