mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-createWithAccessTokenId.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="salesforce-createWithAccessTokenId-flow">
        <salesforce:create doc:name="Salesforce" config-ref="Salesforce_Config" type="Account">
            <!--Migration INFO: The access token id parameter was removed in salesforce 10.x-->
            <!--<sfdc:create xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" config-ref="Salesforce_Config" type="Account" doc:name="Salesforce" accessTokenId="access-token-id">
            <sfdc:objects ref="#[payload]" />
        </sfdc:create>-->
            <salesforce:records><![CDATA[#[payload]]]></salesforce:records>
        </salesforce:create>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items map ( item , indexOfItem ) -> {
	success: item.successful default true,
	wrapped: {
		success: item.payload.success default true,
		errors: item.payload.errors map ( error , indexOfError ) -> error,
		id: item.payload.id default ""
	},
	errors: item.payload.errors map ( error , indexOfError ) -> error,
	id: item.id as String default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
