mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-createWithoutType.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="salesforce-8.xFlow">
        <salesforce:create xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" doc:name="Salesforce" config-ref="Salesforce_Config" headers="vars.headers">
            <!--Migration ERROR: Fail during migrating create operation-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/salesforce-connector/10.2/salesforce-connector-reference#create-->
            <salesforce:records><![CDATA[#[payload]]]></salesforce:records>
        </salesforce:create>

    </flow>

</mule>
