mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-upsertWithoutHeaders.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core">

    <flow name="salesforce-upsertWithoutHeaders-flow">
        <salesforce:upsert doc:name="Salesforce" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="ExternalID__c">
            <salesforce:records><![CDATA[#[payload]]]></salesforce:records>
        </salesforce:upsert>

        <ee:transform >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.items map ( item , indexOfItem ) -> {
	created: item.payload.created default true,
	success: item.successful default true,
	payload: {
		id: item.id as String default ""
	},
	errors: item.payload.errors map ( error , indexOfError ) -> error,
	id: item.id as String default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
