mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-upsert.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="salesforce-upsert-flow">
        <salesforce:upsert doc:name="Salesforce" config-ref="Salesforce__Basic_Authentication" objectType="Account"
                           externalIdFieldName="ExternalID__c" headers="#[vars.headers]" doc:description="Notes">
            <salesforce:records ><![CDATA[#[payload]]]></salesforce:records>
        </salesforce:upsert>
    </flow>

</mule>
