mule-migration-tool-library/src/test/resources/mule/apps/salesforce/salesforce-createJobWithAccessTokenId-original.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">

    <flow name="salesforce-createJobWithAccessTokenId-flow">
        <sfdc:create-job config-ref="Salesforce__Basic_Authentication" type="Account" operation="upsert" doc:name="Salesforce" doc:description="Notes"
                         externalIdFieldName="Id" concurrencyMode="Parallel" contentType="JSON" accessTokenId="access-token-id">
            <sfdc:headers ref="#[flowVars.headers]"/>
        </sfdc:create-job>
    </flow>

</mule>
