mule-migration-tool-library/src/test/resources/mule/apps/batch/batch-06-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

    <flow name="dispatcher">
        <batch:execute name="#[message.inboundProperties['batchName']]"/>
    </flow>

    <batch:job name="messageTransformer" scheduling-strategy="ROUND_ROBIN">
        <batch:process-records>
            <batch:step name="step">
                <logger message="something"/>
            </batch:step>
        </batch:process-records>
    </batch:job>

</mule>

