mule-migration-tool-tests/src/test/resources/e2e/raml-proxy/src/main/app/raml-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
        xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
        xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
        xmlns:proxy="http://www.mulesoft.org/schema/mule/proxy"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
        http://www.mulesoft.org/schema/mule/proxy http://www.mulesoft.org/schema/mule/proxy/current/mule-proxy.xsd">

    <configuration defaultProcessingStrategy="non-blocking" />

    <expression-language:property-placeholder location="config.properties" />

    <http:listener-config name="http-lc-0.0.0.0-8081" host="0.0.0.0" port="${httpPort}" protocol="HTTP"/>

    <http:request-config
      name="http-request-config"
      host="${implementation.host}"
      port="${implementation.port}"
      basePath="${implementation.path}"
      responseTimeout="${proxy.responseTimeout}"
      protocol="${implementation.protocol}"
    />

    <proxy:raml-proxy-config name="proxy-config" raml="![p['raml.location']]" disableValidations="${validation.disable}"/>

    <api-platform-gw:api apiName="${api.name}" version="${api.version}" apikitRef="proxy-config" flowRef="proxy">
    </api-platform-gw:api>

    <flow name="proxy" doc:name="HTTP Proxy">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="${proxy.path}" parseRequest="${proxy.parseRequest}" />
        <custom-processor class="com.mulesoft.gateway.extension.ProxyRequestHeadersProcessor" />
        <proxy:raml config-ref="proxy-config"/>
        <http:request config-ref="http-request-config" method="#[message.inboundProperties['http.method']]" path="#[message.inboundProperties['http.request.path'].substring(message.inboundProperties['http.listener.path'].length()-2)]" parseResponse="false">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <custom-processor class="com.mulesoft.gateway.extension.ProxyResponseHeadersProcessor" />
        <exception-strategy ref="defaultExceptionStrategy"/>
    </flow>

    <flow name="console" doc:name="console">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="/api-console/*" parseRequest="false" />
        <apikit:console config-ref="proxy-config"/>
    </flow>

    <apikit:mapping-exception-strategy name="defaultExceptionStrategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-payload value="method not allowed"/>
        </apikit:mapping>
        <apikit:mapping statusCode="504">
            <apikit:exception value="java.util.concurrent.TimeoutException"/>
            <set-payload value="Gateway timeout"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
