mule-migration-tool-library/src/test/resources/mule/apps/splitter-aggregator/collection-splitter-aggregator-03.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="main">
        <set-variable variableName="collection-splitter0-group-size" value="#[sizeOf(payload)]"/>
        <foreach>
            <logger message="not important"/>
            <flow-ref name="otherFlow"/>
            <aggregators:group-based-aggregator name="collection-splitter0-aggregator"  groupSize="#[vars.collection-splitter0-group-size]" evictionTime="0">
                <aggregators:aggregation-complete>
                    <set-variable variableName="collection-splitter0-aggregator-aggregation" value="#[payload]"/>
                </aggregators:aggregation-complete>
            </aggregators:group-based-aggregator>
        </foreach>
        <set-payload value="#[vars.collection-splitter0-aggregator-aggregation]"/>
    </flow>

</mule>