mule-migration-tool-library/src/test/resources/mule/apps/splitter-aggregator/expression-splitter-aggregator-02.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="main">
        <splitter expression="#[payload]" evaluator="custom" custom-evaluator="somethingElse"/>
        <logger message="not important"/>
        <collection-aggregator />
    </flow>

</mule>
