mule-migration-tool-tests/src/test/resources/e2e/ee-transform3/src/main/app/ee-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="ee-transform-03Flow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload>
                <![CDATA[%dw 1.0
                %output application/json
                ---
                {
                  order: {
                    type: "Book",
                    title: payload.title,
                    details: "By $(payload.author) ($(payload.year))"
                  }
                }
                ]]>
            </dw:set-payload>
            <dw:set-variable variableName="testVar" resource="classpath:script.dwl"/>
        </dw:transform-message>
        <logger/>
    </flow>
</mule>
