mule-migration-tool-e2e-tests/src/test/resources/e2e/choice/choice2/input/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="choice2Flow">
        <set-variable variableName="testVar" value="#[2]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.testVar == 2]">
                <logger message="#['Var equal to 2']" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="#['Default logger']" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
