mule-migration-tool-library/src/test/resources/mule/apps/db/db-insert-12b-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="flow">
        <db:insert config-ref="dbConfig" bulkMode="true">
            <db:dynamic-query><![CDATA[INSERT INTO PLANET(POSITION, NAME) VALUES (777, '#[payload]') where ID < 1]]></db:dynamic-query>
        </db:insert>
    </flow>

</mule>