mule-migration-tool-library/src/test/resources/mule/apps/db/db-select-07.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <db:select config-ref="dbConfig">
            <db:sql>SELECT * FROM PLANET WHERE NAME = :name</db:sql>
            <db:input-parameters>
                #[{'name' : 'Earth'}]
            </db:input-parameters>
        </db:select>
    </flow>

</mule>