mule-migration-tool-library/src/test/resources/mule/apps/db/db-update-19.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
               http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <db:update config-ref="dbConfig" target="updateCount">
            <db:sql>update PLANET set NAME='Mercury' where POSITION=4</db:sql>
        </db:update>
        <compatibility:set-property propertyName="updateCount" value="#[vars.updateCount]"/>
    </flow>

</mule>