mule-migration-tool-library/src/test/resources/mule/apps/sftp/sftp-outbound-06.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
    xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <sftp:config name="sftpCustomConnectorTempDirOutbound">
        <sftp:connection host="${SFTP_HOST}" port="${SFTP_PORT}" username="${USER1_NAME}"
                         identityFile="${USER1_IDENTITYFILE}" passphrase="${USER1_IDENTITYFILE_PASSPHRASE}">
            <reconnection failsDeployment="true"/>
        </sftp:connection>
    </sftp:config>

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <sftp:write config-ref="sftpCustomConnectorTempDirOutbound" path="#['tempdir-test-outbound/' ++ migration::SftpWriteOutputFile::sftpWriteOutputfile(vars, { outputPattern: null, outputPatternConfig: vars.compatibility_inboundProperties.originalFilename})]"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

</mule>
