mule-migration-tool-library/src/test/resources/mule/apps/sftp/sftp-config-05.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
    xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <sftp:config name="sftp">
        <sftp:connection host="${SFTP_HOST}" password="${USER1_PASSWORD}" port="${SFTP_PORT}" username="${USER1_NAME}">
            <reconnection failsDeployment="true">
                <reconnect frequency="10" blocking="true" count="2"/>
            </reconnection>
        </sftp:connection>
    </sftp:config>

    <flow name="flowOut">
        <compatibility:outbound-properties-to-var/>
        <sftp:write config-ref="sftp" path="#['data/' ++ migration::SftpWriteOutputFile::sftpWriteOutputfile(vars, { outputPattern: null, outputPatternConfig: null})]"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

    <flow name="flowIn">
        <sftp:listener config-ref="sftp" directory="data">
            <scheduling-strategy>
                <fixed-frequency frequency="200000"/>
            </scheduling-strategy>
        </sftp:listener>
        <compatibility:attributes-to-inbound-properties/>
        <logger/>
        <compatibility:outbound-properties-to-var/>
    </flow>

</mule>
